@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-secondary font-body;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-wide;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-lg;
  }
  .glass-dark {
    @apply bg-black/40 backdrop-blur-md border border-white/10 shadow-lg;
  }
}

/* Custom Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
